@model testmvc.Models.ZSKbag
@{
    ViewBag.Title = "zskrechner";
    Layout = "/Views/Shared/_Layout.cshtml";
}

        @using (Html.BeginForm())
        {
            <h4>ZSK to EUR Exchange</h4>
            <table>

                <tr>
                    <td>Anzahl Ziegen (1:300): </td>
                    <td>@Html.TextBoxFor(m => m.Ziegen) @ViewBag.Ziegen</td>
                </tr>

                <tr>
                    <td>Anzahl Schafe (1:200): </td>
                    <td>@Html.TextBoxFor(m => m.Schafe) @ViewBag.Schafe</td>
                </tr>

                <tr>
                    <td>Anzahl Kühe (1:800): </td>
                    <td>@Html.TextBoxFor(m => m.Kuehe) @ViewBag.Kuehe</td>
                </tr>

                <tr>
                    <td colspan="2"><input type="submit" class="btn btn-outline-dark" id="myButt" value="Calculate!"></td>
                </tr>
            </table>

        }

        <h2 style="color:purple">
            @ViewBag.Ausgabe @ViewBag.EUR
        </h2>


